<center>
<h2 class="brand-before">
<small>Welcome to</small>
</h2>
<h1 class="brand-name">ChefMate</h1>
<hr class="tagline-divider">
<br>
<div class="col-md-4"></div>
<div class="col-md-4">
    <p>Take your recipes and grocery list <em>anywhere</em> you go with the best organizer and menu app for home cooks.</p>
    <img src="http://www.cliparthut.com/clip-arts/1682/chef-logo-1682230.jpg" class="img-responsive">
</div>
<div class="col-md-4"></div>
</center>
