<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/application.js"></script>

    <title>Grocery List</title>
  </head>

  <body>
  	<h1>My Grocery List</h1>

    <div id="allItems">
      
    </div>

  	<h2>Add Item</h2>
  	<form id="new">
  		Name<input type="text" id="name"></input><br>
  		Quantity<input type="text" id="quantity"></input><br>
  		<input type="submit" value="Add Item">
  	</form>
  	
  	<h2>Find Item</h2>
  	<form id="find">
  		Name<input type="text" id="name"></input><br>
  		<input type="submit" value="Find Item">
  	</form>
  	<ul><div id="founditem"></ul></div>

	  <h2>Update Item</h2>
    	<form id="update">
    		Name<input type="text" id="name"></input><br>
    		Quantity<input type="text" id="quantity"></input><br>
    		<input type="submit" value="Edit Item">
    	</form>  

  	<h2>Delete Item</h2>
  	<form id="delete">
  		Name<input type="text" id="name"></input><br><br><br>
  		<input type="submit" value="Delete Item">
  	</form>

  </body>
</html>


