<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
	</tr>
	<% if (obj.length) { %>
		<% for(var i = 0; i < obj.length; i++) { %>
		    <% var item = obj[i]%>
		    <tr>
		    	<td>
		    		<%= item.name %>
		    	</td>
		    	<td>
		    		<%= item.quantity %>
		    	</td>
		    </tr>
		<% }; %>
	<% } %>
</table>


